.header {
    flex-shrink: 0;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .header__container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 18px 14px;
  }

  .header__cover {
    background-color: #073042;
  }
  
  .header__container_auth {
    padding: 56px 10px 50px;
    justify-content: center;
  }
  
  .header__logo {
    width: 38px;
    aspect-ratio: 1;
    display: block;
  }
  
  .header__link_logo {
    border-radius: 50%;
  }
  
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 144px 10px 20px;
    padding: 0;
    list-style: none;
  }

  .header__profileIcon {
    padding-top: 4px;
    margin-left: 7px;
  }
  
  .header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.5s ease-out;
    font-weight: 500;
    line-height: 22px;
  }
  
  .header__link.active {
    text-decoration: underline 2px;
    text-underline-offset: 11px;
  }
  
  .header__button {
    background-color:  #3DDC84;
    padding: 5px 12px;
    color: #000;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 0.5s ease-out;
  }
  
  .header__button-menu {
    background-image: url('../../images/burgerMenu.svg'); 
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 37px;
    border: none;
  }
  
  .header__button-close {
    position: absolute;
    background-image: url('../../images/closeBurger.svg'); 
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: none;
    top: 13px;
    right: 13px;
  }
  
  .header__wrapper {
    display: none;
    position: relative;
  }
  
  .header__container_active>.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 520px;
    z-index: 25;
    top: 0;
    right: 0;
    font-size: 18px;
  }
  
  .header__container_active>.header__wrapper::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .header__container_active>.header__wrapper::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    max-width: 520px;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .header__item {
    text-align: center;
  }
  
  .header__link_profile {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 46px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .header__link_profile.active {
    text-decoration: none;
    cursor: default;
  }
  
  
  @media (min-width: 768px) {
    .header__container {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 12px;
    }
  
    .header__container_auth {
      max-width: 396px;
      padding: 232px 0 40px;
      margin: 0 auto;
      justify-content: flex-start;
    }
  
    .header__button {
      padding: 8px 20px;
    }
  
    .header__link {
      font-size: 12px;
    }
  
    .header__link:hover {
      opacity: 0.8;
    }

    .header__button:hover {
      opacity: 0.8;
    }
  
    .header__button-menu {
      width: 44px;
    }
  
    .header__list {
      margin: 159px 90px 20px;
      gap: 28px;
    }
  
    .header__item>.header__link {
      font-size: 18px;
      line-height: 22px;
    }
  
    .header__link_profile {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 90px;
      min-width: 100px;
    }
  
    .header__link.active {
      text-decoration: underline 2px;
      text-underline-offset: 8px;
    }
  
    .header__button-close {
      top: 22px;
      right: 22px;
    }
  
    .header__link_profile.active {
      text-decoration: none;
    }
  }
  
  @media (min-width: 880px) {
    .header__container.header__container_login {
      justify-content: stretch;
    }
  
    .header__button-menu {
      display: none;
    }
  
    .header__wrapper {
      display: flex;
      position: static;
      margin-left: 44px;
      justify-content: space-between;
      width: 100%;
    }
  
    .header__list {
      flex-direction: row;
      margin: 0;
      gap: 16px;
    }
  
    .header__item>.header__link {
      font-size: 13px;
      font-weight: 400;
    }
  
    .header__item:first-of-type {
      display: none;
    }
  
    .header__button-close {
      display: none;
    }
  
    .header__link_profile {
      margin: 0;
    }
  
    .header__link.active {
      text-decoration: none;
      font-weight: 500;
    }
  
    .header__link_profile.active:hover {
      opacity: 1;
    }
  }
  
  @media (min-width: 1280px) {
    .header__container {
      padding-left: 70px;
      padding-right: 70px;
    }
  
    .header__container_auth {
      padding: 70px 0 40px;
    }
  }