.footer {
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    padding: 79px 10px 20px;
  }
  
  .footer__container {
    margin: 0 auto;
    max-width: 1140px;
  }
  
  .footer__description {
    color: #8B8B8B;
    padding-bottom: 21px;
    position: relative;
    margin: 0;
  }

  .footer__copyright {
    margin: 0;
    color: #8B8B8B;
  }

  .footer__description::after {
    height: 1px;
    content: "";
    position: absolute;
    width: 100%;
    background-color: #424242;
    bottom: 0;
    left: 0;
  }
  
  .footer__list {
    list-style: none;
    width: 100%;
    margin: 30px 0;
    padding: 0;
  }
  
  .footer__item:not(:last-of-type) {
    margin-bottom: 12px;
  }
  
  .footer__link {
    color: #fff;
    text-decoration: none;
    transition: .3 ease-in-out;
    opacity: 1;
  }

  .footer__link:hover {
    opacity: 0.8;
  }
  
  
  @media (min-width: 768px) {
    .footer {
      padding: 79px 30px 0;
    }
  
    .footer__description {
      font-size: 13px;
      line-height: 16px;
    }
  
    .footer__wrapper {
      display: flex;
      padding: 20px 0;
      font-size: 13px;
      line-height: 16px;
      justify-content: space-between;
    }
  
    .footer__list {
      display: flex;
      margin: 0;
      gap: 20px;
    }

    .footer__navigation {
      order: 1;
    }
  
    .footer__item:not(:last-of-type) {
      margin-bottom: 0;
    }
  
    .footer__button-exit {
      font-size: 13px;
      line-height: 16px;
    }
  }
  
  @media (min-width: 1280px) {
    .footer {
      padding-left: 70px;
      padding-right: 70px;
    }
  
  }