.form__wrapper {
  position: relative;
}

.form__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px auto 80px;
}

.form__switcher-text {
  line-height: 18px;
  font-size: 14px;
  margin-left: 12px;
  color: #fff;
}

.form_type_search {
    position: relative;
    padding-top: 60px;
    min-height: 272px;
    display: flex;
    flex-direction: column;
    appearance: none;
  }
  
  .form_type_search::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #424242;
    left: 0;
    bottom: 10px;
  }
  
  .form__button-save_type_search {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 6px;
    background-image: url(../../../images/blueFindIcon2.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
  }

  /*главный сеарч*/
  .form__input_type_search {
    border-style: none;
    padding: 17px 99px 16px 19px;
    background: #222222;
    border-radius: 40px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    color: #8B8B8B;
    width: 100%;
  }

  /*короткометражки*/
  .form__input_type_short {
    position: relative;
    width: 36px;
    height: 20px;
    appearance: none;
    background-color: #343434;
    border-radius: 40px;
    transition: background-color 0.6s;
    cursor: pointer;
  }
  
  .form__label_type_short {
    display: flex;
    flex-direction: row;
    line-height: 18px;
    margin: 45px 0 0;
  }
  
  .form__input_type_short::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: #A0A0A0;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    transition: transform 0.6s;
  }
  
  .form__input_type_short:checked {
    background-color: #3DDC84;
  }
  
  .form__input_type_short:checked::before {
    background-color: #fff;
    transform: translateX(16px);
  }
  
  .form__input_type_short:active,
  .form__input_type_short:active::before {
    outline: none;
    border: none;
  }
  
  .form__message_search {
    width: 80%;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    color: #fff;
  }


@media screen and (min-width: 320px) {

  .form_type_search {
    min-height: 242px;
    padding-top: 80px;
  }

  .form__switcher-text {
    font-size: 11px;
  }

  .form__label_type_short {
    width: 36px;
    height: 20px;
  }

}

@media screen and (min-width: 768px) {

  .form__switcher-text {
    font-size: 14px;
  }

  .form_type_search {
    min-height: 272px;
  }

  .form__input_type_search {
    padding: 14px 307px 14px 22px;
    background-repeat: no-repeat;
    background-position: 19px center;
    background-size: 23px 23px;
  }

  .form__label_type_short {
    right: 38px;
    top: 106px;
    font-size: 13px;
    line-height: 18px;
    gap: 15px;
    margin: 0;
  }

  .form__error_search {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .form_type_search {
    padding-top: 60px;
    min-height: 222px;
  }

  .form__message_search {
    font-size: 14px;
    line-height: 20px;
  }

  .form__switcher-text {
    font-size: 14px;
  }
}